<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite">
    <test thread-count="2" parallel="methods" name="Login Test">
        <classes>
            <class name="automation.Selenium">
                <methods>
                    <include name="loginTestSucces"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
